body {
    overflow-x: hidden;
}

.sidebar {
    overflow-y: scroll;
    max-width: 325px;
    height: 97vh;
}

.sidebar table {
    width: 105%;
}

.big-case-count {
    padding-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 100px;
    height: 100px;
    text-align: center;
}

.header-text {
    padding: 20px;
    width: 100%;
}

.header-text h1 {
    text-align: center;
}