{% extends 'dashboard/layouts/base.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/styles.css' %}">
{% endblock stylesheets %}

{% block content %}
<main>
	<div class="row">
		<div class="col-sm-3 col-md-4 sidebar">
			<div class="big-case-count">
				<h4>Global Cases:</h4>
				<h2><b>{{big_case_num}}</b></h2>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Country</th>
						<th>Cases</th>
						{% comment %} <th>Cases Per Capita</th>
						<th>Death Count</th> {% endcomment %}
					</tr>
				</thead>
				<tbody>
					{% for country_name, case_count, case_count_per_capita, death_count in countries %}
						<tr class="left-table-row">
							<td><b>{{ country_name }}</b></td>
							<td>{{ case_count }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 header-text">
			<h1 class="">COVID-19 Dashboard</h1>
			<ul class="nav">
				<li><a href=''>HOME</a></li>
				<li><a href='about'>ABOUT</a></li>
				<li><a href='faq'>FAQ</a></li>
				<li><a href='contact'>CONTACT</a></li>
			</ul>
			<div class="map-container">
				<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.54.6/plotly.min.js"></script>
				{% autoescape off %}
				{{ world_map }}
				{% endautoescape %}
			</div>
		</div>
	</div>
</main>
{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}